<form action="#" phx-submit="add">
  <%= text_input :todo, :title, placeholder: "O que você quer fazer?" %>
  <%= submit "Adicionar", phx_disable_with: "Adicionando..." %>
</form>
<%= for todo <- @todos do %>
  <div class="">
    <%= checkbox :todo, :feito, value: todo.feito, phx_click: "toggle_done", phx_value: todo.id %>
    <%= todo.title %>
  </div>
<% end %>
