<form action="#" phx-submit="add">
  <%= text_input :todo, :title, placeholder: "O que você quer fazer?" %>
  <%= submit "Adicionar", phx_disable_with: "Adicionando..." %>
</form>
<%= for todo <- @todos do %>
  <div class="">
    <%= todo.title %>
  </div>
<% end %>
